* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}

@media (width >= 481px) {
  * {
      display: none;
  }
}

/* color palette:
#002640, #003959 - light shades
#ffa726 (Orange)
#002266 deep blue
#f0f0f0 (Light Gray)
#b0b0b0 (Medium Gray)
*/

body {
  background-color: #001321;
  color: #FFFFFF;
  display: block;
  height: 100vh;
  padding-bottom: 5rem;
}

header, main {
  padding: 1rem 1.5rem;
}

svg {
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
  filter: brightness(0) invert(1);
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.profile-picture {
  height: 40px;
  width: 40px;
  border: 1px solid #ffa726;
}
