* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}

@media (width >= 481px) {
  * {
      display: none;
  }
}

body {
  background: linear-gradient(to top, #a87900 20%, #000000 80%);
  color: #FFFFFF;
  display: block;
  height: 100vh;
  padding-bottom: 5rem;
}

header, main {
  padding: 1rem 1.5rem;
}

svg {
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
  filter: brightness(0) invert(1);
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-photo {
  height: 34px;
  width: 34px;
  border-radius: 20%;
  border: 1px solid #a87900;
  margin-right: 0.5rem;
  padding: 0.1rem;
}
